@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@500&display=swap");

@media only screen and (min-width: 2001px) {
  /* x2 */
  :root {
    --r05: 1rem;
    --r08: 1.6rem;
    --r1: 2rem;
    --r101: 2.2rem;
    --r102: 2.4rem;
    --r103: 2.6rem;
    --r104: 2.8rem;
    --r105: 3rem;
    --r106: 3.2rem;
    --r2: 4rem;
    --r3: 6rem;
    --r4: 8rem;
    --r5: 10rem;
  }
}
@media only screen and (max-width: 2000px) {
  /* x1.5 */
  :root {
    --r05: 0.75rem;
    --r08: 1.2rem;
    --r1: 1.5rem;
    --r101: 1.65rem;
    --r102: 1.8rem;
    --r103: 1.95rem;
    --r104: 2.1rem;
    --r105: 2.25rem;
    --r106: 2.4rem;
    --r2: 3rem;
    --r3: 4.5rem;
    --r4: 6rem;
    --r5: 7.5rem;
  }
}
@media only screen and (max-width: 1670px) {
  /* x1.25 */
  :root {
    --r05: 0.625rem;
    --r08: 1rem;
    --r1: 1.25rem;
    --r101: 1.375rem;
    --r102: 1.5rem;
    --r103: 1.625rem;
    --r104: 1.75rem;
    --r105: 1.875rem;
    --r106: 2rem;
    --r2: 2.5rem;
    --r3: 3.75rem;
    --r4: 5rem;
    --r5: 6.25rem;
  }
}
@media only screen and (max-width: 1440px) {
  /* x1 */
  :root {
    --r05: 0.5rem;
    --r08: 0.8rem;
    --r1: 1rem;
    --r101: 1.1rem;
    --r102: 1.2rem;
    --r103: 1.3rem;
    --r104: 1.4rem;
    --r105: 1.5rem;
    --r106: 1.6rem;
    --r2: 2rem;
    --r3: 3rem;
    --r4: 4rem;
    --r5: 5rem;
  }
}
@media only screen and (max-width: 1024px) {
  /* x0.75 */
  :root {
    --r05: 0.375rem;
    --r08: 0.6rem;
    --r1: 0.75rem;
    --r101: 0.825rem;
    --r102: 0.9rem;
    --r103: 0.975rem;
    --r104: 1.05rem;
    --r105: 1.125rem;
    --r106: 1.2rem;
    --r2: 1.5rem;
    --r3: 2.25rem;
    --r4: 3rem;
    --r5: 3.75rem;
  }
}
@media only screen and (max-width: 768px) {
  /* x0.5 */
  :root {
    --r05: 0.25rem;
    --r08: 0.4rem;
    --r1: 0.5rem;
    --r101: 0.55rem;
    --r102: 0.6rem;
    --r103: 0.65rem;
    --r104: 0.7rem;
    --r105: 0.75rem;
    --r106: 0.8rem;
    --r2: 1rem;
    --r3: 1.5rem;
    --r4: 2rem;
    --r5: 2.5rem;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff4d;
  background-image: url("/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
* {
  box-sizing: border-box;
}
.table table {
  width: 95%;
}
.table {
  width: 95%;
}
